.blur1
{
    position: absolute;
    left: -336px;
    top: -320px;
}
.blur3
{
    height: 800px;
    position: absolute;
    right: 0px;
    top: 500px;
}
.elip1
{
    position: absolute;
    top: 1400px;
    right: 120px;
}