.comp
{
    position: relative;
    width: 100%;
    height: 50%;
    color: #fff;
    padding: 12px;
}
.comp .lower-txt
{
    position: absolute;
    bottom: 15px;
}
.ok
{
    height: 300px;
}
.ok h2
{
    font-size: 16px;
}

.section-main
{
    margin-bottom: 100px;
    margin-left: 90px;
    margin-right: 90px;
    position: relative;
    display: grid;
    /* height: ; */
    grid-template-columns: 1.3fr 1fr 1fr;
}
.section-main img
{
    object-fit: cover;
    width: 100%;
    height: 50%;
}
.ele1
{
    background-color: #042C54;
    margin: 20px;
    margin-bottom: 40px;
}
.first
{
    grid-row: 1/2;
    position: relative;
}
