.mainDiv
{
    padding-left: 135px;
    padding-right: 135px;
    margin-top: 55px;
    position: relative;
}
.divider
{
    margin: auto;
    width: 50%;
    margin-top: 120px;
}
.divider img
{
    width: 100%;
}